<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

  </head>
  <body>
  <% include partials/header.ejs%>

    <h1 class="text-center">First Node + Express + mongodb App</h1>

    <h3 class="text-center mt-4">Handle With Care</h3>
    <p class="text-center mt-8">
      <strong>Step1</strong>Click On Form
      <strong>Step2</strong>Enter Your name and submit
      <strong>Step3</strong>Now go to form and show data
    </p>
  </body>
</html>
